.DS_Store
*.swp
.idea/
.vscode/

__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

cron-demo/data/
cron-demo/logs/

airflow-demo/include/etl_demo/

airflow-demo/.env
airflow-demo/airflow_settings.yaml

airflow-demo/.astro/*.lock
airflow-demo/.astro/*.local.yml
airflow-demo/.astro/*.local.yaml
